[submodule "Packages/UnityExt Core"]
	path = Packages/UnityExt Core
	url = https://github.com/UnityExt/Core
[submodule "Documentation/unityext.github.io"]
	path = Documentation/unityext.github.io
	url = https://github.com/UnityExt/unityext.github.io.git
[submodule "UnityExt System"]
	path = Packages/UnityExt System
	url = https://github.com/UnityExt/System.git
